#App {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #4f4392;
  transition: width 0.3s ease;
  overflow-x: hidden;
  color: aliceblue;
  
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-content {
  list-style: none;
  width: auto;
}

#body {
  width: auto;
  padding: 20px;
  height: 100%;
}

.historyLog {
  border: #6e6e6e;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  padding: 1rem;
  background-color: #4f4392;
  max-height: 80vh;
}

.HistoryItem {
  width: auto;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}

.nav_option,
.nav_option:hover,
.nav_option:visited {
  color: aliceblue;
  text-decoration: none;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0.25rem;
  background-color: #403678;
}


.nav_symb {
  flex: 0;
  padding: 1.75rem;
  margin: 0.25rem;
}

.nav_label {
  flex: 1;
  padding: 1.75rem;
  margin: 0.25rem;
}